################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Windows10SpotlightBackgrounds/bin
/Windows10SpotlightBackgrounds/obj
