<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key ="sourcePath" value="C:\Users\Brendan\AppData\Local\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets"/>
    <add key="destimationPath" value="C:\Users\Brendan\Pictures\SpotLight"/>
  </appSettings>
</configuration>